@import url(https://unpkg.com/purecss@1.0.0/build/pure-min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  margin: 0;
  min-width: 320px;
}

* {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

@media screen and (min-width: 851px) {
  .visible-mobile { display: none; }
  .visible-desktop { display: block; }
}

@media screen and (max-width: 850px) {
  .visible-mobile { display: block; }
  .visible-desktop { display: none; }
}